h1 {
  text-align: center;
}

#firstPage{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.menu {
  display: flex;
  justify-content: center;
  margin: 20px;
}
header img {
  max-width: 500px;
  height: auto;
}
.menu-item {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  padding: 50px;
  margin: 0 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px #ccc;
  border-radius: 5%;
  /* width: calc(33.33% - 10px); */
}
.menu-item i {
  font-size: 48px;
  margin-bottom: 10px;
}
.menu-item p {
  font-size: 24px;
  margin-bottom: 10px;
  align-items: center;
}
.menu-item:hover {
  background-color: #ddd;
  box-shadow: 5px 10px #000;
}
a {
  color: #000;
  text-decoration: none;
}
#secondPage{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}
select{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container {
  display: flex;
  /* justify-content: space-between; */
  /* width: 90%; */
  /* margin: 0 auto; */
}
.side {
  flex: 0 0 50%;
  /* padding: 20px; */
  margin-right: 40px;
}
.input-group {
  margin-bottom: 10px;
}
.input-barang{
  align-items: center;
  
  justify-content: center;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="date"] {
  width: 100%;
  padding: 8px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button{
  text-align: center;
  /* padding-left: 20px; */
}
.button-back,
.button-submit {
  padding: 10px 30px; 
  font-size: 16px;
  border-radius: 2%;
  cursor: pointer;
}

.button-submit {
  width: auto;
  background-color: #fff;
}
.button-submit:hover {
  background-color: #0056b3;
  color: white;
}

.button-back {
  width: auto;
  background-color: #808080;
}
.button-back:hover {
  background-color: red;
  color: white;
}
#thirdPage{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
}
.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.searchContainer label {
  margin-right: 10px;
  font-size: 20px;
  align-items: center;
}

.searchContainer input[type="date"] {
  width: 200px;
  margin-right: 10px;
}

.searchContainer input[type="submit"] {
  padding: 10px 30px; 
  font-size: 16px;
  border-radius: 2%;
  cursor: pointer;
  background-color: #808080;
}

.searchContainer input[type="submit"]:hover {
  background-color: red;
  color: white;
}

.tableContainer{
  margin-top: 20px;
}
.buttonBackDaftar{
  text-align: center;
  margin-top: 20px;
}
.stok {
  display: flex;
  /* text-align: center; */
  margin-bottom: 10px;
  justify-content: center;
}
.stok label{
  /* margin-right: px; */
  margin-bottom: 0;
  width: 25%;
  display: flex;
  /* align-self: stretch; */
  align-items: center;
}

.login-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group-login {
  margin-bottom: 15px;
}

.input-group-login label {
  display: block;
  margin-bottom: 5px;
}

.input-group-login input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: calc(100% - 10px);
  box-sizing: border-box;
}

.button-login {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-login:hover {
  background-color: #0056b3;
}
.logout-btn {
  position: fixed;
  top: 10px; 
  right: 10px;
  padding: 5px 10px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #d00;
}